# Know your customers

One of the most common applications of KMeans is to get to know your customers. Take a very simple dataset that is Mall Customers to try to discover customer segmentations.

0. Import usuals librairies

In [9]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
pd.options.display.max_columns = None
pd.set_option('display.max_rows', 500)
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score
import ast
from datetime import datetime
from sklearn.impute import KNNImputer

from xgboost import XGBRegressor
from sklearn.ensemble import AdaBoostRegressor 
from sklearn.cluster import KMeans

1. Import the ```Mall_Customers.csv``` dataset

In [10]:
data = pd.read_csv('Mall_Customers.csv')

In [23]:
print (f"Nombre de lignes : {data.shape[0]}")
print ("")
print ("Aper√ßu du dataset :")
display(data.head())
print ("Statistiques basiques :")
display (data.describe(include='all'))
print ("Pourcentage de valeurs manquantes :")
print ("")
print (data.isnull().sum()/data.shape[0]*100)

Nombre de lignes : 200

Aper√ßu du dataset :

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

Statistiques basiques :

,CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
count,200.000000,200,200.000000,200.000000,200.000000
unique,NaN,2,NaN,NaN,NaN
top,NaN,Female,NaN,NaN,NaN
freq,NaN,112,NaN,NaN,NaN
mean,100.500000,NaN,38.850000,60.560000,50.200000
std,57.879185,NaN,13.969007,26.264721,25.823522
min,1.000000,NaN,18.000000,15.000000,1.000000
25%,50.750000,NaN,28.750000,41.500000,34.750000
50%,100.500000,NaN,36.000000,61.500000,50.000000
75%,150.250000,NaN,49.000000,78.000000,73.000000
max,200.000000,NaN,70.000000,137.000000,99.000000

Pourcentage de valeurs manquantes :

CustomerID                0.0
Genre                     0.0
Age                       0.0
Annual Income (k$)        0.0
Spending Score (1-100)    0.0
dtype: float64

2. Remove the "CustomerID" variable from your dataset.

In [13]:
data2 = data.drop(['CustomerID'], axis=1)

3. Make all the preprocessings

In [14]:
# do preprocessing

4. We are going to build our clusters, but to do so, we need to know the optimum number of clusters we need. First use the ```Elbow``` method to see if we can see how many we need to take as a value for ```k```.

5. Then use the _Silhouette_ method to see if we can refine our hypothesis for ```k```.

6. Next, we will take $K=6$ clusters. Apply the KMeans to your dataset.

7. Let's create a graph that will allow us to visualize each of the clusters. We will first take the ```Spending Score``` as the ordinate and the ```Annual Income``` as the abscissa.

8. We have a nice visualization with a nice cluster separation. Look this time at the variable ```Age``` in relation to the ```Spending Score```. What do you notice?

----> This time clusters are definitely less visible.

9. Finally, make a 3d scatter plot of your clusters by using all the quantitative features